; Please copy this file to config.ini and update the paths for your system.

[paths_win]
; Path to the python.exe executable within your virtual environment
python_path = U:\voothi\20250825231214-spacy-env\Scripts\python.exe

; Path to the anki-csv-importer project
importer_workspace = U:\voothi\20250401192017-anki-csv-importer


[paths_nix]
; Path to the python executable within your virtual environment
python_path = /path/to/voothi/20250825231214-spacy-env/bin/python

; Path to the anki-csv-importer project
importer_workspace = /path/to/voothi/20250401192017-anki-csv-importer